---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import PortfolioItem from '../components/PortfolioItem.astro';
import Footer from '../components/Footer.astro';
---
<!doctype html>
<html>
  <BaseHead />
  <body>
  <Header />
  <div class="container">
    <section class="introduction">
        <div class="intro-image">
          <img src="img/my_face.jpg", alt="profile image">
        </div>
      <div class="introduction-textbox">
        <h1>introduction</h1>
        <p>
          I am a rapid prototyping enthusiastic emerging from the education in electronics and product 
          development.
          My passion is in doing things and I am always driven for trying things instead of 
          just playing with ideas.
          I am hard to scare off with sentences like "This is impossible" and
          "You don't know what you are getting yourself into", as I find challenges as 
          an awesome opportunity to learn.
          <br>
          <br>
          Although every great product must start with a problem, I do
          find satisfaction in delivering working solutions. Even with my education in engineering, 
          I keep design in high value and see the technical skills as a tool to bring great
          ideas to life.
        </p>
      </div>
    </section>
  </div>


<!-- TODO make the skills slideshow here -->



  <section class="portfolio">
    <h1>Some of my projects</h1>
    <div class="projects">
      <PortfolioItem
        header="Junction hackathon entry: Kaamos"
        type="Hacathon project"
        img="img/projects/kaamos_thumb.jpg"
        link="/projects/kaamos.html"
        img_alt="kaamos"
      />

      <PortfolioItem
        header="PdP project: Team Rapala"
        type="University course project"
        img="img/projects/pdp_thumb.jpeg"
        link="/projects/pdp.html"
        img_alt="pdp"
      />

      <PortfolioItem
        header="Wireless energy harvesting sensor"
        type="Prototype"
        img="img/projects/wise1_thumb.jpg"
        link="/projects/wise.html"
        img_alt="wise"
      />

      <PortfolioItem
        header="Cup-Cup-Go"
        type="Hackathon project"
        img="img/projects/cupcupgo_thumb.jpeg"
        link="/projects/junction2018.html"
        img_alt="cupcupgo"
      />

      <PortfolioItem
        header="3D printable line tensioner"
        type="Product design"
        img="/img/projects/ropesnap_thumb.JPG"
        link="/projects/ropesnap.html"
        img_alt="rope"
      />

      <PortfolioItem
        header="Wireless energy harvesting sensor, Protocamp"
        type="Prototype"
        img="img/projects/wiseproto_thumb.jpg"
        link="/projects/wiseproto.html"
        img_alt="wiseproto"
      />
  </div>
  </section>
  
  <div class="container">
    <a href="/projects/index.html" class="button">See all projects</a>
  </div>
  

  <!-- TODO make the call to action change -->


  <div>
    <section class="contact">
      <h1>Looking for a solution?</h1>
      <a href="/contact/index.html" class="button">Lets discuss!</a>
    </section>
  </div>
  
  <Footer />
</body>
</html>
