---

---
<header>
  <div class="nav">
    <a href="/index.html">About</a>
    <a href="/projects/index.html">Projects</a>
    <a href="/contact.html">Contact</a>
  </div>
  <h1 class="logo">Eero Prittinen</h1>
  <p class="title-description">Engineering and product development</p>
</header>
